# Ignore compiled Java-code
*.class
*.jar

#keep any java libraries
!rhino*.jar

#keep gradle
!gradle/*/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
